[submodule "Vendor/Opauth"]
	path = Vendor/Opauth
	url = git://github.com/uzyn/opauth.git
[submodule "Strategy/Facebook"]
	path = Strategy/Facebook
	url = git://github.com/uzyn/opauth-facebook
[submodule "Strategy/Yahoo"]
	path = Strategy/Yahoo
	url = git://github.com/booper/opauth-yahoo.git
